.SectionPortFolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100;
    height: 100%;
    background: #fff;
    margin-top: 80px;
    padding: 60px 0;
    margin-left: 60px;
    margin-right: 60px;
}


.btn_wrap{
    text-align: center;
}

.view-tab {
    padding: 15px 50px;
  margin:10px 4px;
  color: #8f8f8f;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
}

.view-tab::before {
    content: '';
  position: absolute;
  bottom: 30%;
  left: 0px;
  width: 100%;
  height: 1px;
  background: #3e3e3e;
  display: block;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}
.view-tab:hover{
  color: #3e3e3e; 
}
.view-tab:hover::before {
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1)
}

.owl-wrap {
    display: flex;
    justify-content: space-between;

}
.product-grid {

    width: 370px;
    margin-right: 30px;
    background: #c99090;
}


.owl-item-img {
    width: 370px;
    height: 250px;
    background: #3e3e3e;
}


.contents{
    display: flex;
    flex-wrap: wrap;
    margin-top: 74px;
    gap:30px 30px;
}

.contents-item{
    width: calc(25% - 22.5px);
    text-align: left;
}

.contents-item__content {
    margin-top: 20px;
}
.contents-item__thumbnail{
    position: relative;
    background: #fff;
}

.contents-item__thumbnail img{
    vertical-align: top;
    width: 100%;
    height: auto;
    transition: all .4s ease;
}

.contents-item__thumbnail:hover img{
    opacity: .6;
}


.contents-item__title a{
    display: inline-block;
    font-size: 19px;
    color: #3e3e3e;
    line-height: 27px;
    font-weight: bold;
}

.contents-item__title a:hover{
    text-decoration: underline;
}

.contents-item__text{
    margin-top: 5px;
    font-size: 14px;
    color: #8f8f8f;
    line-height: 1.4;
}

.more__btn{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: 20px;
    border-radius: 50%;
    background: #f3f3f3;
    transition: all .3s ease;
}

.more__btn{
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    margin-top: 20px;
    border-radius: 50%;
    background: #f3f3f3;
    transition: all .3s ease;
}



.more__btn::after {
    position: absolute;
    left: 10px; 
    top: 11px; 
    content: '';
    width: 7px; /* 사이즈 */
    height: 7px; /* 사이즈 */
    border-top: 1px solid #959595; /* 선 두께 */
    border-right: 1px solid #959595; /* 선 두께 */
    transform: rotate(45deg); /* 각도 */
}

.more__btn:hover::after {
    position: absolute;
    left: 10px; 
    top: 11px; 
    content: '';
    width: 7px; /* 사이즈 */
    height: 7px; /* 사이즈 */
    border-top: 1px solid #fff; /* 선 두께 */
    border-right: 1px solid #fff; /* 선 두께 */
    transform: rotate(45deg); /* 각도 */
}


.more__btn:hover{
    background: #a9803c;
}
