.SectionHome {
    padding: 60px 60px;
}

.SwiperSlide-img-01 {
    width: 100%;
    height: auto;
    background-image: url(https://cdn.shopify.com/s/files/1/0008/2421/3556/files/home-1-slide-3_x1024.jpg?v=1521034142);
    background-repeat: no-repeat;
}

.SwiperSlide-img-02 {
    width: 100%;
    height: auto;
    background-image: url(https://cdn.shopify.com/s/files/1/0008/2421/3556/files/slider-1_x1024.jpg?v=1521032920);
    background-repeat: no-repeat;
}

.SwiperSlide-img-03 {
    width: 100%;
    height: auto;
    background-image: url(https://cdn.shopify.com/s/files/1/0008/2421/3556/files/home-1-slide-2_x1024.jpg?v=1521034104);
    background-repeat: no-repeat;
}